
<router-outlet></router-outlet>

<div class="aboutMe">
    <h1>A LITTLE ABOUT ME</h1>
    <h3>Hi, I'm Luis Calderon, I'm a Full Stack Software Developer, I work with Java, Angular, Typescript, JavaScript,  SQL, and Spring Boot.</h3>
    <h3> In my free time, I like to explore my creative side by drawing, painting or sculting. I have completed a variety of personal projects, freelance work and enjoy experimenting with different styles and techniques.</h3>
    <h3>As a software developer, I enjoy collaborating with others to build high-quality, user-friendly software solutions. I'm always eager to learn new things and take on new challenges.</h3>
</div>