
<router-outlet></router-outlet>

<div class="aboutMe">
    <h1>A LITTLE ABOUT ME</h1>
    <h3>Hi, I'm Luis Calderon, a front-end developer currently pursuing a Bachelor's degree in Information Technology with a focus on Software Development.</h3>
    <h3>I specialize in front-end development, and I work with HTML, CSS, Java, JavaScript, Angular, SQL, and Spring Boot. In my free time, I like to explore my creative side by drawing. Although I don't have any professional experience in the field, I've completed a variety of personal projects and enjoy experimenting with different styles and techniques.</h3>
    <h3>As a software developer, I enjoy collaborating with others to build high-quality, user-friendly software solutions. I'm always eager to learn new things and take on new challenges.</h3>
</div>