.projects {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(44, 44, 44);
}

h1 {
    display: flex;
    color: white;
    justify-content: center;
    padding: 10vh 1vh;
}

.lang-icons {
    display: grid;
    grid-template-areas: "1 1 1 1" "1 1 1 1";
    list-style: none;
    gap: 5vw;
    text-align: center;
    color: rgb(187, 187, 187);
}

.examp {
    color: white;
}

ul img {
    width: 5vw;
}

.languages {
    display: grid;
    grid-template-areas:  "1 1";
    gap: 5vw;
}

.txt {
    width: 30vw;
    color: white;
}

.project {
    background-color: rgb(44, 44, 44);
    display: grid;
    grid-template-areas: "1 1";
    gap: 1vw;
    padding: 3vh;
}

.project img {
    width: 49vw;
}

.lang_used img {
    width: 3vw;
}

.lang_used {
    display: grid;
    grid-template-areas: "1 1 1 1";
    list-style: none;
    justify-content: center;
    gap: 2vw;
    text-align: center;
    color: rgb(187, 187, 187);
}

.project p {
    color: white;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    text-align: center;
    gap: 3vh;   
}

.info h1 {
    padding: 3vh 0 0 0;
}

.info button {
    width: 8vw;
    background-color: rgb(211, 114, 35);
}

.info a {
    color: white;
    text-decoration: none;
}

.imgs img {
    filter: grayscale(0.5);
}

.imgs img:hover {
    filter: none;
    cursor: pointer;
}