<div class="main">
    <div class="projects">
        <div class="techStack">
            <h1>MY TECH STACK</h1>
            <div class="languages">
                <ul class="lang-icons">
                    <li>
                        <a><img src="https://i.imgur.com/GtmZsaX.png" title="source: imgur.com" /><br /><br />HTML</a>
                    </li>
                    <li>
                        <a><img src="https://i.imgur.com/jJU0yH0.png" title="source: imgur.com" /><br /><br />CSS</a>
                    </li>
                    <li>
                        <a><img src="https://i.imgur.com/BGTgW9Y.png"
                                title="source: imgur.com" /><br /><br />JavaScript</a>
                    </li>
                    <li>
                        <a><img src="https://i.imgur.com/JhqM3M8.png"
                                title="source: imgur.com" /><br /><br />TypeScript</a>
                    </li>
                    <li>
                        <a><img src="https://i.imgur.com/HdTHGbe.png" title="source: imgur.com" /><br /><br />Java</a>
                    </li>
                    <li>
                        <a><img src="https://i.imgur.com/N9r43pp.png"
                                title="source: imgur.com" /><br /><br />Angular</a>
                    </li>
                    <li>
                        <a><img src="https://i.imgur.com/aFB5m2d.png"
                                title="source: imgur.com" /><br /><br />SpringBoot</a>
                    </li>
                    <li>
                        <a><img src="https://i.imgur.com/3DkU4ui.png"
                                title="source: imgur.com" /><br /><br />BootStrap</a>
                    </li>
                </ul>
                <div class="txt">
                    <p>
                        I have used the technologies listed in below projects, I have used
                        them to create full stack applications in a multitude of projects
                        and comissions. I used them in order to create full stack
                        applicaiton that utilize a RESTful API, Angular Front-end and SQL
                        database. <br /><br />
                        You can see this in the follwing projects below:
                    </p>
                    <ul class="examp">
                        <li>OnlyPokies E-Comerce</li>
                        <li>The Missing Piece Photography</li>
                        <li>Card Collector Game</li>
                        <li>Medication Infusion Calculator</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="project">
        <div class="info">
            <h1>The Missing Peace Photography</h1>
            <p>
                Built a single page application for a Photography website for the client
                to showcase their images. <br />
                Website was built with Angular front-end, using Typescript, HTML and
                CSS. <br />
                Throught the project I made sure to incorporate dynamic, responsive, and
                user friendly features, which include things such as image galleries,
                social media integration and interactive forms. Worked closely with the
                client to make sure that the website aligned with their brand and
                identity.
            </p>
            <ul class="lang_used">
                <li>
                    <a><img src="https://i.imgur.com/N9r43pp.png" title="source: imgur.com" /><br /><br />Angular</a>
                </li>
                <li>
                    <a><img src="https://i.imgur.com/JhqM3M8.png" title="source: imgur.com" /><br /><br />TypeScript</a>
                </li>
                <li>
                    <a><img src="https://i.imgur.com/GtmZsaX.png" title="source: imgur.com" /><br /><br />HTML</a>
                </li>
                <li>
                    <a><img src="https://i.imgur.com/jJU0yH0.png" title="source: imgur.com" /><br /><br />CSS</a>
                </li>
            </ul>
            <button>
                <a href="https://luiscldrn.github.io/MissingPiece/" target="_blank">View Live</a>
            </button>
        </div>
        <div class="imgs image-wrap">
            <a href="https://luiscldrn.github.io/MissingPiece/" target="_blank"><img
                    src="https://i.imgur.com/zb8wZyj.png" alt="website screenshot" /></a>
        </div>
    </div>
    <div class="project">
        <div class="info ecom-info">
            <h1>Full Stack E-Commerce</h1>
            <p>
                Created a Full Stack Ecommerce website for Collectibles with Angular
                Frontend with angular routing, reactive forms, search implementation,
                checkout with Stripe. <br />
                Created and Implemented a RESTful API with Java Spring boot and MySQL
                database that holds my products, categories and orders.<br />
                Implemented Okta Authentication for user management. <br />
                Deployed the application to Amazon Web Services (AWS). <br />
            </p>
            <ul class="lang_used ecom">
                <li>
                    <a><img src="https://i.imgur.com/N9r43pp.png" title="source: imgur.com" /><br />Angular</a>
                </li>

                <li>
                    <a><img src="https://i.imgur.com/HdTHGbe.png" title="source: imgur.com" /><br />Java</a>
                </li>
                <li>
                    <a><img src="https://i.imgur.com/JhqM3M8.png" title="source: imgur.com" /><br />TypeScript</a>
                </li>
                <li>
                    <a><img src="https://i.imgur.com/aFB5m2d.png" title="source: imgur.com" /><br />SpringBoot</a>
                </li>
                <li>
                    <a><img src="https://i.imgur.com/GtmZsaX.png" title="source: imgur.com" /><br />HTML</a>
                </li>
                <li>
                    <a><img src="https://i.imgur.com/jJU0yH0.png" title="source: imgur.com" /><br />CSS</a>
                </li>
            </ul>
            <button>
                <a href="http://only-pokies.com" target="_blank">View Live</a>
            </button>
        </div>
        <div class="imgs">
            <a href="http://only-pokies.com" target="_blank"><img src="/assets/img2.PNG" alt="website screenshot" /></a>
        </div>
    </div>
    <div class="project">
        <div class="info">
            <h1>Medication Infusion Calculator</h1>
            <p>
                Built a single page application for that calculates the required supplies for IV infusions. <br />
                This was created in order to streamline, automate and assist technicians in the entry of 
                medication which can have up to 30 Supplies.<br />
                This was originally created with Microsoft VBA as that was the available resource, however I have recreated it
                with Angular, Typescript, HTML and CSS.
            </p>
            <ul class="lang_used">
                <li>
                    <a><img src="https://i.imgur.com/N9r43pp.png" title="source: imgur.com" /><br /><br />Angular</a>
                </li>
                <li>
                    <a><img src="https://i.imgur.com/JhqM3M8.png" title="source: imgur.com" /><br /><br />TypeScript</a>
                </li>
                <li>
                    <a><img src="https://i.imgur.com/GtmZsaX.png" title="source: imgur.com" /><br /><br />HTML</a>
                </li>
                <li>
                    <a><img src="https://i.imgur.com/jJU0yH0.png" title="source: imgur.com" /><br /><br />CSS</a>
                </li>
            </ul>
            <button>
                <a href="https://luiscldrn.github.io/calculator-app/" target="_blank">View Live</a>
            </button>
        </div>
        <div class="imgs image-wrap">
            <a href="https://luiscldrn.github.io/calculator-app/" target="_blank"><img
                    src="https://i.imgur.com/TWRNCHv.png" alt="website screenshot" /></a>
        </div>
    </div>
</div>