<header>
    <nav class="navbar navbar-expand-lg">
        <ul class="nav justify-content-center">
            <a class="nav-link logo">
                <img src="" alt="">Luis Calderon
            </a>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active-link" routerLink="home">Home<span>( )</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active-link"routerLink="aboutme">AboutMe <span>( )</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active-link" routerLink="projects">Projects <span>( )</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link">ContactMe<span>( )</span></a>
            </li>
          </ul>
    </nav>
</header>
