<header>
  <nav class="navbar">
    <div class="navbar_container">
      <a class="navbar-brand"><img src="/assets/2.png" alt=""></a>
      <div
        class="navbar__toggle"
        id="mobile-menu"
        class="{{ mobileM }}"
        (click)="mobile()"
      >
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="nav" class="navbar_menu" class="{{ mobileMenu }}">
        <li class="nav-item" class="navbar__item" (click)="mobile()">
          <a class="nav-link" (click)="ScrollService.goTo('Home')">Home</a>
        </li>
        <li class="nav-item" class="navbar__item" (click)="mobile()">
          <a class="nav-link" (click)="ScrollService.goTo('aboutMe')"
            >About Me</a
          >
        </li>
        <li class="nav-item" class="navbar__item" (click)="mobile()">
          <a class="nav-link" (click)="ScrollService.goTo('projects')"
            >Projects</a
          >
        </li>
        <li class="nav-item" class="navbar__item" (click)="mobile()">
          <a class="nav-link">Conctact Me</a>
        </li>
        <button class="btn" id="resume_btn" >
          <a href="assets\i-765 copy.pdf" download="i-765 copy.pdf" >Resume/CV</a>
        </button>
      </ul>
      
    </div>
  </nav>
</header>
