<header>
  <nav class="navbar">
    <a class="navbar-brand">Luis Calderon</a>
    <ul class="nav " >
      <li class="nav-item">
        <a class="nav-link" (click)="ScrollService.goTo('Home')">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="ScrollService.goTo('aboutMe')" >About Me</a>
      </li >
      <li class="nav-item">
        <a class="nav-link" (click)="isActiveTab()">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Conctact Me</a>
      </li>
    </ul>
    <button class="btn ">Resume/CV</button>
  </nav>
</header>