<div class="main1" id="Home">
    <div class="main">
        
        <div class="container landing-text">
            <h3>FRONT-END</h3>
            <h1>SOFTWARE DEVELOPER</h1>
            <h4>HELLO WORLD!</h4>
            <h4>I AM LUIS CALDERON</h4>
        </div>
    </div>
    <div class="mouse_scroll" (click)="ScrollService.goTo('aboutMe')">

		<div class="mouse">
			<div class="wheel"></div>
		</div>
		<div>
			<span class="m_scroll_arrows unu"></span>
			<span class="m_scroll_arrows doi"></span>
			<span class="m_scroll_arrows trei"></span>
		</div>
    </div>
    <app-aboutme id="aboutMe"></app-aboutme>
</div>
<app-projects id="projects" ></app-projects>
