<div class="main1" id="Home">
  <div class="main">
    <div class="container landing-text">
      <h4>HELLO WORLD!</h4>
      <h4>MY NAME IS LUIS CALDERON</h4>
      <h3>I AM A</h3>
      <div class="autotype">
        <ngx-typed-js class="autotype" [typeSpeed]="100" [backSpeed]="60" [showCursor]="false" [loop]="true"
          [bindInputFocusEvents]="true" [shuffle]="true" [strings]="[
            'FULL STACK DEVELOPER',
            'SOFTWARE DEVELOPER',
            'JAVA DEVELOPER',
            'FRONT-END DEVELOPER'
          ]">
          <h1 class="typing"></h1>
        </ngx-typed-js><span>|</span>
      </div>
    </div>
  </div>
  <div class="mouse_scroll" (click)="ScrollService.goTo('aboutMe')">
    <div class="mouse">
      <div class="wheel"></div>
    </div>
    <div>
      <span class="m_scroll_arrows unu"></span>
      <span class="m_scroll_arrows doi"></span>
      <span class="m_scroll_arrows trei"></span>
    </div>
  </div>
  <app-aboutme id="aboutMe"></app-aboutme>
</div>
<app-projects id="projects"></app-projects>
<app-contact-me></app-contact-me>